In [7]:
a = 5
b = 10
a * b

50

In [8]:
print("Product:" + str( a * b))

Product:50

In [9]:
type([1,2])

list

In [10]:
type({"Ram":20})

dict

In [11]:
d = {"Ram": 20}

In [12]:
d["Ram"]

20

In [15]:
d["Hari"] = 22

In [16]:
d["Hari"]

22

# Syntax
- Lists are enclosed in square brackets whereas dictionaries use curly
- list, dict, int, etc are keywords, we can't use them as identifiers

In [21]:
list_a = [1, 2, 3, 4, 5]

In [18]:
len(list_a)

5

In [19]:
type(list_a)

list

In [22]:
list_a[0]

1

In [23]:
list_a[2]

3

In [26]:
list_a[len(list_a) - 1]

5

In [31]:
list_a[0:4:2]

[1, 3]

```python
aList = [3,'sad' , 43, 'dines']
```
             0,    1,   2,     3
            -4,   -3,  -2,     -1

In [36]:
list_a[-3]

3

In [37]:
list_a[::2]

[1, 3, 5]

In [38]:
hello = "Hello, World!"

In [39]:
print(hello)

Hello, World!

In [40]:
# because strings are immutable

hello[2] = 'q'

TypeError: 'str' object does not support item assignment

In [49]:
hello1 = "Hello"
hello2 = ", World!"
print(hello1 + hello2)
"".join([hello1, hello2])

Hello, World!

'Hello, World!'

In [47]:
tup = ("A", 12)

In [52]:
tup[1] = 2

TypeError: 'tuple' object does not support item assignment

# Control Flow

In [55]:
i = 0
condition = True
while condition == True:
    if i == 10:
        break
    elif i == 9:
        print("We are going to end soon.")
    else:
        print("Go on boy.")
    i += 1

Go on boy.
Go on boy.
Go on boy.
Go on boy.
Go on boy.
Go on boy.
Go on boy.
Go on boy.
Go on boy.
We are going to end soon.

In [56]:
list_a = [1, 2, 3, 4, 5]
for item in list_a:
    print(item)

1
2
3
4
5

In [57]:
d = {
    "Ram": 22,
    "Hari": 44,
    "Shyam": 80
}

In [59]:
for name, age in d.items():
    print(name + " : " + str(age))

Ram : 22
Hari : 44
Shyam : 80

In [60]:
print(4)

4

In [61]:
del list_a[2]

In [62]:
list_a

[1, 2, 4, 5]

In [63]:
del d["Shyam"]

In [64]:
d

{'Ram': 22, 'Hari': 44}

# Functions

In [74]:
def hello(name):
    print("Hello, " + str(name))

In [75]:
hello("Harry")

Hello, Harry

In [76]:
hello(45)

Hello, 45

In [70]:
def sum(a, b):
    return a+b

In [77]:
sum(32, 45)

77

In [82]:
square = lambda x: x**2

In [83]:
square(2)

4

In [85]:
for item in list_a:
    item ** 2
    
[item **2 for item in list_a]

[1, 4, 16, 25]

In [86]:
def sq(list_a):
    return list_a
sq(list_a)

[1, 2, 4, 5]

In [97]:
class List:
    def __init__(self, list_a):
        self._list = list_a
    
    def square(self):
        return [ item ** 2 for item in self._list]
    
    def apply(self, func = lambda x: x **2):
        return [ func(item) for item in self._list]

In [98]:
a = List(list_a)

In [99]:
a.square()

[1, 4, 16, 25]

In [100]:
a.apply(lambda x: x**3)

[1, 8, 64, 125]

In [101]:
a.apply()

[1, 4, 16, 25]