# Revision of Python 3

# Variables

In [1]:
a = 7
b = 3
a + b
# Arithmetic Operators =,+,-,*,/ , // ,**
# Logical Operators not,and,or
# Comparision operator in later section

10

In [2]:
print( "Product: ", str(a*b))

Product:  21

# Types

In [3]:
type(a)

int

In [4]:
type(b)

int

In [5]:
type(5.0)

float

In [6]:
type("String")

str

In [69]:
type(True)
#0 and empty list is false

bool

In [70]:
type(a==a)

bool

In [9]:
a is a  # == and === in javascript

True

# List

In [10]:
numbers = [1, 2, 3, 4, 5]

In [11]:
# First numbers
numbers[0]

1

In [12]:
# 3rd number
numbers[2]

3

In [13]:
# last number
length = len(numbers)
numbers[length - 1]
# find the greatest number or last entry

5

In [14]:
# Also last number
numbers[-1]

5

## Creating a sublist from given list

In [15]:
numbers[0:4]

[1, 2, 3, 4]

In [16]:
numbers[:3]

[1, 2, 3]

In [17]:
numbers[2:]

[3, 4, 5]

In [18]:
numbers[:]

[1, 2, 3, 4, 5]

In [19]:
numbers[1: -1]

[2, 3, 4]

In [20]:
numbers[0: -2]

[1, 2, 3]

In [21]:
# Inclusive list 
# doesn't include 10
mylist = list(range(2,10,2))

## String is also a list, list of characters

In [22]:
hello = "Hello, World!"

In [23]:
hello[5]

','

In [24]:
hello[7:-1]

'World'

In [25]:
# But strings are immutable, so are tuples
hello[5] = 'c'

TypeError: 'str' object does not support item assignment

In [ ]:
#for mutable assignments do not make a fresh copy
mello = [1,2,3]
hello = mello
hello[2] = 4
print(mello)
#mello.append(), mello.pop()

In [26]:
# But list is not
numbers[2] = 5
numbers

[1, 2, 5, 4, 5]

# Tuple and Dictionary

In [27]:
tup = ("Dinesh", 2072)

In [28]:
tup[0]

'Dinesh'

In [29]:
tup[1]

2072

In [30]:
# Tuples are immutable
tup[0] = "Anish"

TypeError: 'tuple' object does not support item assignment

In [31]:
a = 7
b = 8
print(a,b)

# Tuple unpacking and swapping.
(a,b) = (b,a)
print(a,b)

7 8
8 7

In [32]:
# searcing is very fast O(1)
# output might be jumbled because datas are effectivly stored in memory
# Key in dictionary must be immutable type like strings

years = {
    "Dinesh": 2072,
    "Anish": 2071
}
years["Anish"] = 2072

In [33]:
for key, value in years.items():
    print(key +": " + str(value))

Dinesh: 2072
Anish: 2072

# Control Flow
- while
- if ... elif ... else
- for ... in
- with

In [34]:
i = 10
while i > 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [35]:
#wors if we don't use str : dynamic typing
for i in range(0,10):
    if i == 0:
        print(str(i) + " is zero.")
    elif i % 2 == 0:
        print(str(i) + " is even.")
    else:
        print(str(i) + " is odd.")

0 is zero.
1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.
6 is even.
7 is odd.
8 is even.
9 is odd.

In [36]:
# one-line version
for user in ["Ram", "Shyam", "Hari"]: print(user)

Ram
Shyam
Hari

# Conditionals

In [37]:
 5 > 6

False

In [38]:
5 < 6

True

In [39]:
4 >= 4

True

In [40]:
4 <= 4

True

In [41]:
4 != 4

False

In [42]:
a = [1,2,3]
b = [1,2,3]
print(a == b)
print(a is b)
#print(id(a),id(b))

True
False

# Classes and Functions and Lambda functions

In [43]:
def square(n): return n*n

In [44]:
square(4)

16

In [45]:
class Demo:
    def __init__(self, n):
        self._number = n
    def square(self):
        return self._number ** 2

In [46]:
v = Demo(2)
v.square()

4

## Default Parameters

In [47]:
class List:
    def __init__(self, init = []):
        self._list = init
        
    def pow_n(self, n = 2):
        return [item**n for item in self._list]   
    
    def cube(self):
        return self.pow_n(3)
    
    def square(self):
        return self.pow_n()

In [48]:
v = List([1, 2, 3])
v.pow_n(5)

[1, 32, 243]

In [49]:
v.pow_n()

[1, 4, 9]

In [50]:
v.cube()

[1, 8, 27]

## Lambda, Map and Filter

In [51]:
sq = lambda x: x*x

In [52]:
sq(4)

16

In [53]:
def apply(list_a, func):
    return [func(item) for item in list_a]

In [54]:
i_list = [1, 2, 3, 4, 5]
apply(i_list, lambda x: x**3)

[1, 8, 27, 64, 125]

In [55]:
# Same as above. We use map instead of apply.
list(map(lambda x: x**3, i_list))

[1, 8, 27, 64, 125]

In [56]:
#Filter certain values

number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

## Inheritance

In [57]:
# List2 contains all methods and properties of List and more.
class List2(List):
    def apply(self, func = lambda x: x**2):
        return [func(item) for item in self._list]
    
    def cube(self):
        return self.apply(lambda x: x**3)
    
    def square(self):
        return self.apply()

In [58]:
l = List2([1, 2, 3])
l.cube()

[1, 8, 27]

# Loading Libraries

In [59]:
import math
math.sin(30)

-0.9880316240928618

In [60]:
import math as m
m.sin(30)

-0.9880316240928618

In [61]:
from math import sin, cos
sin(30)

-0.9880316240928618

## Examples

In [62]:
# find all factors of a number n
# factor must lie between 1 and n
def factors(n):
    factorlist = []
    for i in range(1,n+1):
        if n%i == 0:
            factorlist.append(i)
    return (factorlist)

flist = factors(10)
print(flist)

[1, 2, 5, 10]

In [63]:
# find prime numbers
# A number is prime if it is divisible by 1 and itself
# 1 is not a prime number i.e [1] is not [1,1]

def isprime(n):
    return(factors(n) == [1,n])

In [64]:
# Greatest common division
# Euclid's Algorithm
# IOE Exam

def gcd(m,n):
    if m < n:     #assume m >n
        (m,n)=(n,m)
    
    while(m%n) != 0:
        (m,n) = (n,m%n)
    
    return(n)

In [65]:
# Fibonacci series
def fib(n):
    fibnums= []
    a,b = 0,1
    for i in range(n):
        c = a+b
        a,b=b,c
        fibnums.append(c)
    return(fibnums)

fib(5)

[1, 2, 3, 5, 8]

In [66]:
#Pythagorean triplets
[(x,y,z) for x in range(10) for y in range(x,10) for z in range(y,10) if x*x + y*y == z*z]

[(0, 0, 0),
 (0, 1, 1),
 (0, 2, 2),
 (0, 3, 3),
 (0, 4, 4),
 (0, 5, 5),
 (0, 6, 6),
 (0, 7, 7),
 (0, 8, 8),
 (0, 9, 9),
 (3, 4, 5)]

In [67]:
# factorial and recursion
# Remember n! = n*(n-1)

def fact(n):
    #always need a base condition
    if n<=0:
        return 1
    else:
        return n*fact(n-1)

fact(5)

120

In [68]:
# One line array-capture using for, if and range with condition matching.
# --Map vv----- Generator vv ----- Filter vv
[square(x) for x in range(10) if iseven(x)]

NameError: name 'iseven' is not defined

# Assignments
- There is already a function in python that does exactly what we did with **apply** function. Please find the function and see how it works. (Tip: look at parameters).
- Look at documentation to see what **id** function does.
- Study **with** constructs in python.
- Study exception handling in python.
- Study nested lists and indexing of items in such list
- Look more into **range** function in python.
- Look into details about **tuple unpacking**.
- Explore Generator functions, though you might not need it for this fellowship.

# Resources
Be prepared and come tomorrow. We would assume you already know basics of python by today. We are counting on you.
- The Zen of Python : Simple is Better than Complex
- https://docs.python.org/3/tutorial/
- https://pandas.pydata.org/
- http://www.numpy.org/